<!DOCTYPE html>

<html>


    <body>

      <!-- create your form here -->
      <h1 style="color: darkcyan;">Signup</h1>
      <form action="/signup" method="POST">
      <label style="display: inline-block; width: 200px" for="username">Username</label>
      <input type="text" name="username"><br>
      <p style="color: red;">{{username_error}}</p>
      <label style="display: inline-block; width: 200px" for="password">Password</label>
      <input type="password" name="password"><br>
      <p style="color: red;">{{password_error}}</p>
      <label style="display: inline-block; width: 200px" for="verpassword">Verify Password</label>
      <input type="password" name="verpassword"><br>
      <p style="color: red;">{{verpassword_error}}</p>
      <label style="display: inline-block; width: 200px" type="email">Email (optional)</label>
      <input type="text" name="email"><br>
      <p style="color: red;">{{email_error}}</p>
      <input type="submit" value="Sumbit Query"/>
      </form>

    </body>

</html>